# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some popular Languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.C++
5.Java etc,.

Some of the commonly used libraries used by Data Scientists include:
    1.Tensorflow.
    2.Numpy.
    3.SciPy.
    4.Pandas.
    5.Matplotlib.
    6.Keras

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensorflow|

Below are a few examples of evaluating arithmetic expressions in Python

# ADDITION

In [1]:
result_addition = 10 + 5
print("Addition:", result_addition)

Addition: 15

# SUBTRACTION

In [ ]:
result_subtraction = 20 - 8
print("Subtraction:", result_subtraction)

# MULTIPLICATION

In [2]:
result_multiplication = 7 * 4
print("Multiplication:", result_multiplication)

Multiplication: 28

# DIVISION

In [3]:
result_division = 50 / 10
print("Division:", result_division)

Division: 5.0

This is a simple arithmetic expression to multiply then add integers.

In [4]:
result = (3 * 4) + 5
print(result)

17

In [5]:
minutes=200
hour=minutes/60
print(hour)

3.3333333333333335

# Objectives:

- List popular languages for Data Science.
- Explore common libraries and frameworks used in Data Science.
- Understand key concepts in data manipulation and analysis.
- Introduce machine learning algorithms and techniques.
- Discuss best practices for data visualization and presentation.

# AUTHOR
sophia Infant